body{
   background-color: rgb(52, 52, 52);
   color: white; 
   font-family: sans-serif;
   text-align: center; 
   overflow: hidden;
}
canvas {
   border: 2px solid white; 
   margin-top: 10px; 
  
}

.boton {
   background-color: rgb(52, 52, 52); 
   border: 1px solid white;
   color: white;
   padding: 2px 2px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 5px; 
   
}